.account-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card {
  width: 100%;
  background: linear-gradient(to bottom, #2ecc71, #27ae60);
  border-radius: 12px;
  color: white;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.profile-header {
  display: flex;
  align-items: center;
  padding: 16px;
}

.profile-icon {
  font-size: 50px;
  margin-right: 12px;
}

.profile-info .label {
  font-size: 14px;
  margin: 0;
  opacity: 0.9;
  left: -51px;
  position: relative;
}

.profile-info .name {
  font-size: 16px;
  font-weight: bold;
  margin: 2px 0 0 0;
}

.section-card {
  width: 100%;
  border-radius: 12px;
  margin-top: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.section-card h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 12px;
  color: #000;
}

.btn-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.btn {
  --border-radius: 8px;
  --background: #eaf8ef;
  color: #333;
  font-weight: 600;
  width: 40%;
}

.market-header {
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.market-icon {
  font-size: 22px;
  margin-right: 8px;
  color: #000;
}

.version {
    margin-top: 33rem;
    color: #999;
    font-size: 13px;
    margin-left: 16rem;
}

.logout-btn {
  margin-top: 20px;
  width: 90%;
  --border-radius: 8px;
}
