
<ion-header class="header">
  <ion-toolbar class="header-row">
    <ion-button slot="start" fill="clear" class="back-icon" (click)="goBack()" (keydown.enter)="goBack()"
      (keydown.space)="goBack()" aria-label="Go back">
      <ion-icon name="chevron-back-outline" size="large" color="#000000"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>
<ion-content class="account-content">


  <div class="account-shell">

    <div class="account-panel">

<div class="account-title">
  <img src="assets/icon/account-user.png" class="user-outline-icon" />
  <span>My Account</span>
</div>

<div class="divider"></div>

<!-- Profile Card -->
<div class="profile-wrapper">
  <div class="profile-card" (click)="openProfileDetails()">
    <div class="profile-row">
      <ion-icon name="person-circle-outline" class="icon"></ion-icon>
      <div>
        <p class="label">Name</p>
        <p class="value">{{ vendorName }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Section Card -->
<!-- <div class="section-card">
  <div class="section-header">
    <ion-icon name="car-outline"></ion-icon>
    <span>My Vehicles</span>
  </div>

  <div class="pill-row">
    <div class="pill">NRM</div>
    <div class="pill">DELIVERY</div>
  </div>
</div>

<div class="section-card">
  <div class="section-header">
    <ion-icon name="cash-outline"></ion-icon>
    <span>Your Payment</span>
  </div>

  <div class="pill-row">
    <div class="pill">NRM</div>
    <div class="pill">DELIVERY</div>
  </div>
</div>

<div class="section-card">
  <div class="section-header">
    <ion-icon name="business-outline"></ion-icon>
    <span>Market Vehicle Request</span>
  </div>

  <div class="pill-row">
    <div class="pill">NRM</div>
    <div class="pill">DELIVERY</div>
  </div>
</div> -->


    </div>

    <div class="bottom-area">
      <span class="version">Version {{ version }}</span>

      <ion-card class="logout-card" (click)="logout()">
        <img  class="logout-icon" src="assets/icon/logout.png">
        <span>Logout</span>
      </ion-card>
    </div>

  </div>

</ion-content>

  <ion-footer slot="fixed">
    <app-footer></app-footer>
  </ion-footer>