<ion-content class="account-content" [scrollY]="false">

  <!-- Header (unchanged) -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>My Account</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Outer container that matches screenshot padding -->
  <div class="account-shell">

    <!-- White background panel -->
    <div class="account-panel">

      <!-- Green Name Card -->
      <div class="profile-wrapper">
        <ion-card class="profile-card" (click)="openProfileDetails()">
          <div class="profile-row">
            <ion-icon name="person-circle-outline" class="icon"></ion-icon>
            <div>
              <p class="label">Name</p>
              <p class="value">{{ vendorName }}</p>
            </div>
          </div>
        </ion-card>
      </div>

    </div>

    <!-- Bottom area (same as screenshot) -->
    <div class="bottom-area">
      <span class="version">Version {{ version }}</span>

      <ion-card class="logout-card" (click)="logout()">
        <img  class="logout-icon" src="assets/icon/logout.png">
        <span>Logout</span>
      </ion-card>
    </div>

  </div>

</ion-content>
