.pan1-card {
  border-radius: 1.2em;
  border: 0.7em solid #27ae60;
  box-shadow: none;
  width: 100%;
  margin: 0;
  position: relative;
}

.bar-list ion-content::part(scroll) {
  overflow-y: auto !important;
}

.bar-list ion-content::part(scroll) {
  overflow-y: scroll !important;

  &::-webkit-scrollbar {
    width: 6px;
    display: block !important;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.header-row {
  display: flex;
  width: 100%;
  background: white;

  .pan1-header-left {
    width: 33%;
    padding: 0.15em 0.4em 0.44em 0em;
    background-color: #27ae60;
    border-bottom-right-radius: 1em;
    display: flex;
  }

  .pan1-header-right {
    width: 67%;
    display: flex;
    justify-content: flex-end;
    box-shadow: inset 1em 0.8em 0.3em #27AE61;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 242px;
    background: #27ae60;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    z-index: 0;
  }

  >* {
    position: relative;
    z-index: 1;
  }
}

.location-dropdown {
  background: #ffffff;
  border-radius: 1.15em;
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0.15em;
  padding: 0em 0.2em;
  cursor: pointer;
  transition: 0.2s ease;
  flex-wrap: nowrap;
  width: 96%;

  &:hover {
    background: #f7fff7;
  }

  .location-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    color: #27ae60;
  }

  ion-select::part(container) {
    width: 100em;
  }

  .city-select {
    --padding-start: 0;
    --padding-end: 0;
    --background: transparent;
    color: #27ae60;
    font-size: clamp(11px, 2.6vw, 13px);
    font-weight: 600;
    min-width: 0;
    --highlight-height: 0;
    flex: 1;
  }

  .arrow-icon {
    margin-left: 0.7em;
  }
}

.card-content {
  background-color: #27ae60;
  width: 100%;
  box-shadow: inset 1em 0.8em 0.3em #27AE61;
}

.assigned-sfx {
  display: flex;
  background: #ffffff;
  width: 100%;
  padding: 0 0.2em;
  border-top-left-radius: 1em;
  justify-content: flex-end;
  align-items: center;
  border-top-right-radius: 0.4em;
}

.card-content {
  background-color: #27ae60;
}

.card-content-data {
  background-color: white;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  border-top-left-radius: 1em;
}

.title-row {
  padding-left: 1em;
  padding-top: 0.4em;

  .title {
    font-size: 1em;
    font-weight: 700;
    color: #2d2d2d;
    letter-spacing: 0.5px;
  }
}

.bar-list {
  padding-left: 0;
  position: relative;
  height: 14vh;
  --background: white;
  --padding-start: 0.1em;
  --padding-end: 0.8em;
  --padding-bottom: 0;
}

.bar-row {
  display: flex;
  align-items: center;
  margin: 0.4em 0;
  padding: 0;
}

.bar-row:hover {
  background-color: #f7f7f7;
}

.bar-container {
  height: 16px;
  flex: 1;
  background: #ececec;
  border-radius: 20px;
  overflow: hidden;
}

.bar {
  height: 100%;
  border-radius: 4px;
  transition: width 0.4s ease-out;
  display: flex;
  width: 10%;
  align-items: center;
  padding-left: 10px;
  position: relative;
  color: #fff;
}

.route-name {
  width: 90px;
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  white-space: nowrap;

}

.count {
  width: 30px;
  text-align: right;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.total-data {
  display: flex;
  color: #fff;
  font-size: 0.7em;
  height: 4em;
  align-items: center;
  max-width: 33.33%;
}

.total {
  background-color: #656565;
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 0.6em;
  width: 100%;
}

.total-label {
  white-space: nowrap;
}

.total-values {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pan1-card-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.route-card {
  position: relative;
  width: 97%;
  padding: 0.7em 0 0 1em;
}

.y-axis-title {
  position: absolute;
  left: 1.51%;
  top: 40%;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: left center;
  font-size: 0.6em;
  font-weight: 500;
  color: #2e7d32;
}

.chart-area {
  position: relative;
  border-left: 1px solid #A5A5A5;
  border-bottom: 1px solid #A5A5A5;
  padding: 0.3em;
}

.bar {
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
}

.count {
  width: 30px;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}

.footer {
  text-align: center;
  font-size: 0.6em;
  color: #2e7d32;
  font-weight: 500;
}
::ng-deep ion-popover ion-list ion-item {
  --inner-border-width: 0;
  border-bottom: 1px solid black;
}
::ng-deep ion-popover ion-list ion-item:last-child {
  border-bottom: none;
}
::ng-deep ion-popover ion-item:last-of-type {
  border-bottom: none !important;
}
