<div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <ngx-spinner bdColor="rgba(255,255,255,0.1)" color="#2ca85e" size="large" type="ball-clip-rotate" [fullScreen]="true">
    <p class="loader-text">Loading...</p>
  </ngx-spinner>
  <ion-card class="pan1-card">
    <ion-card-content class="pan1-card-header">
      <div class="header-row">
        <div class="pan1-header-left">
          <div class="location-dropdown">
            <ion-icon     name="location" class="location-icon"></ion-icon>
            <ion-select interface="popover" [(ngModel)]="selectedBranchId" (ionChange)="onBranchChange($event)"
              class="city-select">
              @for (b of branches; track b.branchId) {
              <ion-select-option [value]="b.branchId">
                {{ b.branchName }}
              </ion-select-option>
              }
            </ion-select>
          </div>
        </div>
        <div class="pan1-header-right">
          <div class="assigned-sfx">
            <div class="total">
              <div class="total-data">
                <span class="total-label">WAYBILLS:</span>
                <span class="total-values">{{ totals.waybills }}</span>
              </div>
              <div class="total-data">
                <span class="total-label">PKGS:</span>
                <span class="total-values">{{ totals.packages }}</span>
              </div>
              <div class="total-data">
                <span class="total-label">WT (T):</span>
                <span class="total-values">{{ totals.weight.toFixed(1) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-content">
        <div class="card-content-data">
          <div class="title-row">
            <span class="title">AVL. INVENTORY</span>
          </div>

          <!-- CONTENT -->
          <div class="pan1-card-content">

            <div class="route-card">

              <div class="y-axis-title">
                DLV. ROUTE WISE WB COUNT
              </div>

              <div class="chart-area">
                <!-- CUSTOM BAR LIST -->
                <div class="bar-list">
                  <ion-content class="bar-list">

                    @for (r of routesData; track r.route) {
                    <div class="bar-row" (click)="handleRouteClick(r)">
                      <div class="bar-container">
                        <div class="bar" style="width:100%" [style.background]="r.color">
                          <span class="route-name">{{ r.route }}</span>
                        </div>
                      </div>
                      <span class="count" [style.color]="r.color">
                        {{ r.waybills }}
                      </span>
                    </div>
                    }

                  </ion-content>
                </div>

              </div>

              <div class="footer">
                {{ selectedBranchName }}
              </div>

            </div>
          </div>
        </div>
      </div>

    </ion-card-content>
  </ion-card>
</div>