   .inventory-card {
  background: #fff;
  border: 2px solid #108942;
  border-radius: 14px;
  padding: 6px 10px;
  width: 100%;
  max-width: 360px;
  margin: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  color: #333;
}

    .header-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
    }

    .branch-select {
      --background: transparent;
      --padding-start: 0;
      --inner-padding-end: 0;
    }

    ion-icon[name="location"] {
        margin-right: 4px;
    }
    
    ion-select {
      font-weight: 600;
      color: #108942;
      font-size: 16px;
      --padding-start: 8px;
    }

    .stats-box {
      background: #525252;
      color: #fff;
      font-size: 11px;
      padding: 6px 10px;
      border-radius: 8px;
      display: flex;
      gap: 12px;
      font-weight: 500;
      white-space: nowrap;
    }

    .title-row .title {
      font-size: 12px;
      font-weight: 700;
      color: #2d2d2d;
      letter-spacing: 0.5px;
    }

.bar-list {
  margin-top: 6px;
  padding-left: 0;
  position: relative;
}
    
.y-axis-label {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  left: -10px;
  top: 0;
  font-size: 8px;
  color: #888;
  font-weight: 600;
}

.bar-row {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding: 0;
}

    .bar-row:hover {
        background-color: #f7f7f7;
    }

.bar-container {
  height: 20px;
  flex: 1;
  background: #ececec;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 10px;
}

    .bar {
      height: 100%;
      border-radius: 4px;
      transition: width 0.4s ease-out;
      display: flex;
      width: 10%;
      align-items: center;
      padding-left: 10px;
      position: relative;
      color: #fff;
    }

.route-name {
  width: 90px;
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;

}

    .count {
      width: 30px;
      text-align: right;
      font-family: Roboto;
      font-weight: 500;
      font-style: Medium;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0%;
    }

    .footer-label {
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      color: #555;
      margin-top: 4px;
      padding-top: 8px;
      border-top: 1px solid #eee;
    }