.sh-ex-list-container {
  padding-top: 8px;
  max-height: 99vh;
  overflow-y: auto;
  background: #f7f7f7;
}
.sh-ex-card {
  background: #fff;
  border-left: 6px solid #b30000;
  box-shadow: 0 1px 7px rgba(60,72,88,0.06);
  margin: 10px 16px 0 16px;
  padding: 13px 18px 9px 18px;
  display: flex; 
  flex-direction: column;
  &.excess { border-left-color: #f0ad4e; }
}

.sh-ex-row {
  display: flex;
  align-items: center;
  gap: 13px;
  .sh-label { font-weight: 500; width: 55px;}
  .sh-value { font-weight: 400; min-width: 20px; white-space: nowrap }
  .sh-booking-group { font-weight: 500; }
  .green { color: #22b543;}
  .amber { color: #f0ad4e;}
  .red { color: #c52222;}
  .sh-date-label { font-size: 12px; color: #2C3A3B; font-weight: 500; margin-left: 7px; white-space: nowrap;}
  .sh-date-value { color: #2C3A3B; font-weight: 400; margin-left: 7px; white-space: nowrap;}
}
.sh-consignor-row {
  margin-top: 8px;
  .sh-consignor-label { font-size: 12px; color: #2C3A3B; font-weight: 500; margin-right: 7px; }
  .sh-consignor-value { font-size: 12px; color: #2C3A3B; font-weight: 400;}
  .sh-chip {
    font-size: 12px;
    font-weight: 500;
    border-radius: 12px;
    padding: 3px 18px;
    margin-left: 169px;
    white-space: nowrap;
    background: #fff0f0;
    border: 1.5px solid #b30000;
    color: #b30000;
    &.excess {
      background: #fff7e2;
      border-color: #f0ad4e;
      color: #e69500;
    }
  }
}

/* Modal Title Pill */
.modal-title-pill {
  border: 2px solid #78909c;
  border-radius: 8px;
  background: #fff;
  color: #444;
  padding: 2px 18px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
margin-left: 10px;
}