.branch-btn {
  --background: #17b857;
  color: #fff;
  border-radius: 6px;
  padding: 4px 10px;
  font-size: 12px;
}

/* SUMMARY STRIP */
.summary-strip {
  background: #fff;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.summary-values span {
  margin-right: 6px;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* AGE CARD */
.age-card {
  position: relative;
  margin: 10px;
  border-radius: 14px;
  overflow: hidden;
}

.side-label {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  padding: 8px;
}

.green-bg {
  background: #1cc15a;
}

.yellow-bg {
  background: #f4b400;
}

.age-content {
  background: #1cc15a;
  color: #fff;
  padding: 16px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
}

.count h1 {
  font-size: 34px;
  margin: 0;
}

.stat p {
  font-size: 16px;
  margin: 4px 0 0;
}

/* LIST */
.list-card {
  background: #fff;
  margin: 10px;
  border-radius: 12px;
  padding: 10px;
}

.list-header,
.list-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 11px;
}

.list-header {
  font-weight: 600;
  color: #666;
}

.list-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.green-text {
  color: #1cc15a;
}

.red {
  color: #e53935;
}

.vas span {
  font-size: 10px;
  margin-left: 4px;
}
.top-bar {
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
}
.seg{
 color: #000000;
 font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;

}

.chip-box {
  display: flex;
  gap: 6px;
}
.chip-group {
  display: flex;
  align-items: center;
  gap: 6px;

  height: 32px;
  padding: 2px 10px;
  border: 1px solid #009b5a;
  border-radius: 20px;
  background: #e5f8ff; /* exact pale sky color */
}
.chip {
font-size: 11px;
    font-weight: 600;
    white-space: nowrap;
    color: #46B5FF;
    letter-spacing: 0.2px;
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 9px;
    line-height: 100%;
    letter-spacing: 0%;
}

.route-name {
    margin-left: auto;
    color: #2C3A3B;
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}