<ion-header class="header">
  <ion-toolbar class="header-row">
    <ion-button slot="start" fill="clear" class="back-icon" (click)="goBack()" (keydown.enter)="goBack()"
      (keydown.space)="goBack()" aria-label="Go back">
      <ion-icon name="chevron-back-outline" size="large" color="#000000"></ion-icon>
    </ion-button>
 <ion-buttons slot="end">
      <div class="bell-container">
        <img
          src="assets/icon/notifications-outline.png"
          alt="notifications"
          class="notifications-outline-icon"
        />

        @if (notificationsCount > 0) {
          <ion-badge class="bell-badge">
            {{ notificationsCount }}
          </ion-badge>
        }
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
   @for (vendor of vendorList; track vendor.vendorType) {

  <ion-card class="outer-card">
    <div class="title-row">
      <img src="assets/icon/user.png"
          alt="user"
          class="user-outline-icon" />
      <span class="title">My Profile : <span class="title-name">{{ vendor.vendorName }}</span>
    <span class="vendor-type">({{ vendor.vendorType }})</span></span>
    </div>

    <div class="divider"></div>

    <!-- Details box -->
    <div class="details-box">
      <div class="row">
        <span class="label">Name:</span>
        <span class="value name">{{ vendor.vendorName }}</span>
      </div>

      <div class="row">
        <span class="label">Email:</span>
        <span class="value">{{ vendor.vendorEmail }}</span>
      </div>

      <div class="row gst">
        <span class="label">GSTIN:</span>
        <span class="value">{{ vendor.vendorGstin }}</span>
        <ion-icon name="copy-outline"  (click)="copyText(vendor.vendorGstin, 'GSTIN')"></ion-icon>
      </div>

      <div class="row contact-row">
        <span class="label">Contact:</span>

        <ion-chip class="phone-chip">
          +91 {{ vendor.vendorPhone }}
        </ion-chip>
      </div>

    </div>

    <div class="middle-divider"></div>
     @for (c of vendor.contactList; track c.mobile) {
    <div class="contact-card" >

      <div class="contact-left">
        <div class="c-name">{{ c.empName }}</div>
        <div class="c-phone">{{ c.mobile }}</div>
      </div>

      <div class="contact-status">
        <div class="status-name">Status</div>
        <div class="active">{{ c.status }}</div>
      </div>
    </div>
  }

  </ion-card>
   }
</ion-content>
