.header-shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.details-card {
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 2px 10px #eeeff2;
  background: #ffffff;
  margin-bottom: 20px;

  .detail-row {
    margin-bottom: 8px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact-row {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .contact-chip {
    height: 26px;
  }

  .icon-copy {
    font-size: 18px;
    color: #6d6d6d;
  }
}

.user-card {
  border-radius: 16px;
  background: #ffffff;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 10px #eeeff2;
  margin-bottom: 12px;

  .user-info {
    width: 40%;

    .name {
      font-weight: bold;
      font-size: 15px;
    }

    .mobile {
      font-size: 14px;
      color: #4d4d4d;
    }
  }

  .status-info {
    width: 30%;
    text-align: right;
    font-size: 14px;

    strong {
      color: black;
      display: block;
    }
  }

  .delete-icon {
    font-size: 22px;
    color: #777;
    margin-left: 10px;
  }
}
