.pan1-card {
  border-radius: 1em;
  border: 0.7em solid #27ae60;
  box-shadow: none;
  width: 100%;
  margin: 8px auto;
  position: relative;
}
.pan1-card-content {
  background: #ffffff;
  overflow: hidden;
  margin: -4.2px;
  padding: 0;
}
.header-row {
  display: flex;
  align-items: center;
  box-shadow: inset 1em 1em 0.3em #27ae60;

  .pan1-header-left {
    width: 43%;
    padding: 0.15em 0.6em 0.6em 0em;
    background-color: #27ae60;
    border-bottom-right-radius: 1em;
    display: flex;
  }

  .pan1-header-right {
    width: 58%;
    display: flex;
    justify-content: flex-end;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 242px;
    background: #27ae60;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    z-index: 0;
  }

  >* {
    position: relative;
    z-index: 1;
  }
}

.location-dropdown {
  background: #ffffff;
  border-radius: 1em;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0em 0.5em;
  cursor: pointer;
  transition: 0.2s ease;
  flex-wrap: nowrap;
  width: 100%;

  &:hover {
    background: #f7fff7;
  }

  .location-icon {
    width: 16px;
    height: 16px;
  }

  .city-select {
    --padding-start: 0;
    --padding-end: 0;
    --background: transparent;
    color: #27ae60;
    font-size: clamp(11px, 2.6vw, 13px);
    font-weight: 600;
    min-width: 65px;
    --highlight-height: 0;
  }

  .arrow-icon {
    width: 12px;
    height: 12px;
  }
}

.assigned-sfx {
  display: flex;
  align-items: center;
  gap: 1em;
  background: #ffffff;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  padding: 1em;
  border: -5px solid transparent;
  height: 3.56em;
  border-top-left-radius: 1em;
  flex-direction: row;

  .label {
    font-size: clamp(10px, 2.8vw, 12px);
    font-weight: 700;
    color: #2C3A3B;
    white-space: nowrap;
  }

  .value {
    font-size: clamp(18px, 5vw, 24px);
    font-weight: 700;
    color: #13C15B;
    line-height: 1;
  }
}

.status-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1em;

  .status-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .bar-section {
      display: flex;
      align-items: center;
      flex: 1;
    }

    .bar-rail {
      flex: 1;
      height: clamp(12px, 3vw, 18px);
      border-radius: 20px;
      background: #eeeff2;
      overflow: hidden;
    }

    .bar-fill {
      height: 100%;
      padding-left: 10px;
      display: flex;
      align-items: center;
      font-size: clamp(8px, 2.5vw, 10px);
      font-weight: 500;
      color: #fff;
      border-radius: 20px;
    }

    .status-value {
      font-size: clamp(10px, 2.8vw, 12px);
      font-weight: 500;
      width: 40px;
      text-align: right;
      width: 3.5em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.zero .bar-fill,
    &.not .bar-fill {
      background: #b00020;
      border: 1px solid #ae021f;
      width: 40%;
    }

    &.zero .status-value,
    &.not .status-value {
      color: #b00020;
    }

    &.draft .bar-fill {
      background: #ffbc00;
      width: 60%;
    }

    &.draft .status-value {
      color: #ffbc00;
    }
  }
}

.summary-grid {
  ion-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
  }

  ion-col {
    flex: 0 0 calc(50% - 8px);
    max-width: calc(50% - 8px);
    min-width: calc(50% - 8px);
  }
}

.summary-grid {
  padding: 0 6px;

  ion-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }

  .summary-col {
    flex: 0 0 calc(50% - 4px);
    max-width: calc(50% - 4px);
    min-width: calc(50% - 4px);
    padding: 0 !important;
    margin-bottom: 6px !important;
  }

  .summary-card {
    border-radius: 12px;
    padding: 10px 12px;
    min-height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 10px #eeeff2;
  }

  .card-row {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .card-icon-wrap {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #f3f3ec;
    display: flex;
    align-items: center;
    justify-content: center;

    &.green {
      background: #eaf7ea;
    }
  }

  .card-main {
    font-size: 18px;
    font-weight: 700;

    &.red {
      color: #b00020;
    }

    &.green {
      color: #1a1a1a;
      font-weight: 600;
    }
  }

  .card-label {
    font-size: 12px;
    font-weight: 500;
    color: #383838;
    white-space: nowrap;
    opacity: 0.9;
  }
}

.status-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .status-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .bar-section {
      display: flex;
      align-items: center;
      flex: 1;
    }

    .bar-rail {
      flex: 1;
      height: clamp(12px, 3vw, 18px);
      border-radius: 20px;
      background: #eeeff2;
      overflow: hidden;
    }

    .bar-fill {
      height: 100%;
      padding-left: 10px;
      display: flex;
      align-items: center;
      font-size: clamp(8px, 2.5vw, 10px);
      font-weight: 500;
      color: #fff;
      border-radius: 20px;
    }

    .status-value {
      font-size: clamp(10px, 2.8vw, 12px);
      font-weight: 500;
      width: 40px;
      text-align: right;
    }

    &.zero .bar-fill,
    &.not .bar-fill {
      background: #b00020;
      border: 1px solid #ae021f;
      width: 40%;
    }
    &.zero .status-value,
    &.not .status-value {
      color: #b00020;
    }

    &.draft .bar-fill {
      background: #ffbc00;
      width: 40%;
    }
    &.draft .status-value {
      color: #ffbc00;
    }
  }
}


.card-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.snapshot-card {
  padding: 14px 16px;
  border-radius: 14px;
  box-shadow: 0 2px 10px #ebebeb;
  margin: 20px 8px 10px;
  left: -9px;
  position: absolute;
  width: 100%;
}

.snapshot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .snapshot-title {
    font-size: clamp(13px, 3.2vw, 15px);
    font-weight: 700;
  }

  .snapshot-dropdown {
    padding: 0 12px;
    background: #11c15b;
    color: #fff;
    border-radius: 7px;
    font-size: clamp(11px, 2.8vw, 12px);
    height: 35px;
    display: flex;
    align-items: center;
  }
}

.divider-line {
  width: 1.6px;
  height: 120px;
  background: rgba(220, 220, 220, 0.9);
  border-radius: 20px;
}

.snapshot-content {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 0;
}

.edited-percent-label {
  position: absolute;
  top: -2px;
  left: 100%;
  transform: translateX(-20%);
  display: flex;
  align-items: center;
  color: #FF8A0D;

}


