@if(value > 0){
<div class="progress-wrapper" #wrap>
  <div class="progress-bar">
    <div class="progress-fill" [style.width.%]="value"></div>
  </div>
  <div class="emoji-thumb" [style.left.%]="value">
    @if (faceIcon.type === 'emoji') {
    {{ faceIcon.value }}
    } @else {
    <img [src]="faceIcon.value" class="emoji-img" />
    }
  </div>

  <!-- <div class="progress-text">{{ value | number : "1.0-0" }}%</div> -->
</div>
} @if(booking.length){
<div class="bars-container">
  @for (bar of booking; track bar.label) {
  <div class="bar-item">
    <div class="bar-label">{{ bar.label }}</div>
    <div class="progress-bar">
      <div
        class="progress-fill"
        [style.width.%]="100"
        [style.background]="bar.gradient"
      >
        <div class="bar-percent" [style.width.%]="bar.percent">
          {{ bar.percent }}%
        </div>
      </div>
    </div>
  </div>
  }
</div>

} @if(delivery.length){
<div class="bars-container">
  @for (bar of delivery; track bar.label) {
  <div class="bar-item">
    <div class="bar-label">{{ bar.label }}</div>
    <div class="progress-bar">
      <div
        class="progress-fill"
        [style.width.%]="100"
        [style.background]="bar.gradient"
      >
        <div class="bar-percent" [style.width.%]="bar.value">
          {{ bar.value }}%
        </div>
      </div>
    </div>
  </div>
  }
</div>
}
