@if(value > 0){
<div class="progress-wrapper" #wrap>
  <div class="progress-bar">
    <div class="progress-fill" [style.width.%]="value"></div>
  </div>
  <div class="progress-emoji" [style.left.%]="value">{{ face }}</div>
  <div class="progress-text">{{ value | number : "1.0-0" }}%</div>
</div>
}

<!--<div class="progress-wrapper"
       (mousedown)="startDrag($event)"
       (mousemove)="onDrag($event)"
       (mouseup)="endDrag()"
       (mouseleave)="endDrag()"
       #wrap>-->
@if(booking.length){
<div class="bars-container">
  @for (bar of booking; track bar.label) {
  <div class="bar-item">
    <div class="bar-label">{{ bar.label }}</div>
    <div class="progress-bar">
      <div
        class="progress-fill"
        [style.width.%]="100"
        [style.background]="bar.gradient"
      ></div>
    </div>
    <div class="bar-percent" [style.left.%]="bar.percent">
      {{ bar.percent }}%
    </div>
  </div>
  }
</div>

}
@if(delivery.length){
<div class="bars-container">
  @for (bar of delivery; track bar.label) {
  <div class="bar-item">
    <div class="bar-label">{{ bar.label }}</div>
    <div class="progress-bar">
      <div
        class="progress-fill"
        [style.width.%]="100"
        [style.background]="getGradient(bar.value)"
      ></div>
    </div>
    <div class="bar-percent" [style.left.%]="bar.value">{{ bar.value }}%</div>
  </div>
  }
</div>
}

