.progress-wrapper {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
}

.progress-bar {
  height: 20px;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to right, red, orange, green);
  position: relative;
}

.progress-fill {
  height: 100%;
  background: transparent; 
  transition: width 0.3s ease-in-out;
}

.progress-emoji {
  position: absolute;
  top: -35px;
  transform: translateX(-50%);
  font-size: 32px;
  transition: left 0.3s ease-in-out;
}

.progress-text {
  position: absolute;
  top: 35px;
  right: 0;
  font-size: 16px;  
  color: #444;
}
.bars-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bar-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.bar-label {
  font-size: 12px;
  color: #333;
  margin-bottom: 4px;
  white-space: nowrap;
}

.prog-bar {
  position: relative;
  width: 100%;
  height: 14px;
  background: #eaeaea;
  border-radius: 8px;
  overflow: hidden;
}s

.bar-fill {
  height: 100%;
  border-radius: 8px;
  transition: width 0.4s ease-in-out;
}

.bar-percent {
  position: absolute;
  right: 8px;
  top: 27px;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  font-family: Inter;
  white-space: nowrap;
font-weight: 700;
font-style: Bold;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;

}
