$light-gray: #efefef;
$primary: #27AE60;
$secondary: #0163aa;
$tertiary: #FFBC00;
$success: #2dd55b;
$danger: #B00021;
$medium: #636469;
$light: #EFEFEF;
$dark-text: #2d2d2d;
$black: #000;
$white: #fff;
$radius-6: 6px;
$radius-7: 7px;
$radius-8: 8px;
$radius-12: 12px;
$radius-14: 14px;
$radius-15: 15px;
$radius-20: 20px;
$break-xxs: 360px;
$break-xs: 375px;
$break-sm: 390px;
$break-md: 420px;
$break-lg: 480px;
$break-tab: 700px;
$font-primary: Roboto, Arial, sans-serif;
