<ion-content class="login-content"  [scrollY]="true" keyboardResize="true">
  <div></div>
  <div class="login-header">
    <img src="assets/icon/logo2.png" alt="Safexpress Logo" class="logo" />
    @if(showOtpField){
    <ion-icon name="chevron-back" class="back-icon" (click)="handleBack()"></ion-icon>
    }
  </div>
  <div class="main-container">
      <div class="constiner">
             <h2>Login to your account</h2>
      <ion-item lines="full" class="custom-item">
        <ion-input type="text" maxlength="10" inputmode="numeric" placeholder="Mobile" [(ngModel)]="mobileNumber"
          (ionInput)="filterNumberInput($event, 'mobile')">
        </ion-input>
      </ion-item>

      @if (showOtpField) {
      <ion-item lines="full" class="custom-item">
        <ion-input #otpInput type="text" maxlength="6" inputmode="numeric" placeholder="OTP" [(ngModel)]="otp"
          (ionInput)="filterNumberInput($event, 'otp')">
        </ion-input>
      </ion-item>

      } @if (!showOtpField) {
      <div class="actions">
        <span class="send-otp-link" (click)="!isSendingOtp && sendOtp()">
          {{ isSendingOtp ? 'Sending OTP...' : 'Send OTP' }}
        </span>
      </div>
      } @else {
      <div class="otp-actions">
        <a class="resend-otp" (click)="resendOtp()" [class.disabled]="resendDisabled || isResendingOtp">
          {{ isResendingOtp ? 'Resending OTP' : resendButtonText }}
        </a>

        <button class="submit-btn" [disabled]="isVerifyingOtp" (click)="login()">
          {{ isVerifyingOtp ? 'Verifying OTP' : 'Submit' }}
        </button>
      </div>
      }
      </div>
      <div class="figma-footer">
        <div class="figma-terms">
          By logging in you accept
          <span class="link" (click)="openPrivacy()">Privacy Policy</span>
          and
          <span class="link" (click)="openTerms()">Terms & Conditions</span>
        </div>

        <div class="figma-version">Version {{ version }}</div>
      </div>
  </div>
</ion-content>