<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>AVL. INVENTORY</ion-title>

<div slot="end" class="branch-label">
      {{ branch }}
    </div>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ngx-spinner
  bdColor="rgba(255,255,255,0.15)"
  size="large"
  color="#27ae60"
  type="ball-clip-rotate"
  [fullScreen]="true">

  <p class="loader-text">Loading inventory…</p>

</ngx-spinner>


  <!-- TOP FILTER BAR -->
  <div class="top-bar">
      <ion-segment-button class="seg">WB Count</ion-segment-button>

    <div class="chip-group">
      <div class="chip">WAYBILLS: {{ totals.waybills }}</div>
      <div class="chip">PKGS: {{ totals.packages }}</div>
      <div class="chip">WT (T): {{ totals.weight }}</div>
    </div>

    <span class="route-name">{{ routeName }}</span>
  </div>


  <!-- CARD #1 : < 24 -->
  <ion-card class="detail-card" (click)="openAgeDetails('<24')">
    <div class="badge green-bg">&lt; 24 Hours</div>

    <div class="content-grid">
      <div>
        <label>Waybill Count</label>
        <h1>{{ less24.waybills | number:'2.0' }}</h1>
      </div>

      <div>
        <label>Packages</label>
        <h3>{{ less24.packages }}</h3>
      </div>

      <div>
        <label>Weight (T)</label>
        <h3>{{ less24.weight }}</h3>
      </div>
    </div>
  </ion-card>


  <!-- CARD #2 : > 24 -->
  <ion-card class="detail-card" (click)="openAgeDetails('>=24')">
    <div class="badge yellow-bg">&gt; 24 Hours</div>

    <div class="content-grid">
      <div>
        <label>Waybill Count</label>
        <h1>{{ above24.waybills | number:'2.0' }}</h1>
      </div>

      <div>
        <label>Packages</label>
        <h3>{{ above24.packages }}</h3>
      </div>

      <div>
        <label>Weight (T)</label>
        <h3>{{ above24.weight }}</h3>
      </div>
    </div>
  </ion-card>

</ion-content>
