<ion-header class="header">
  <ion-toolbar class="header-row">
    <ion-button slot="start" fill="clear" class="back-icon" (click)="goBack()" (keydown.enter)="goBack()"
      (keydown.space)="goBack()" aria-label="Go back">
      <ion-icon name="chevron-back-outline" size="large" color="#000000"></ion-icon>
    </ion-button>
    <div class="title">AVL. INVENTORY</div>
    <ion-button slot="end" class="branch-btn" size="small">
      {{ branch }}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ngx-spinner bdColor="rgba(255,255,255,0.15)" size="large" color="#27ae60" type="ball-clip-rotate"
    [fullScreen]="true">

    <p class="loader-text">Loading inventory…</p>

  </ngx-spinner>
  <div class="body-container">
    <div class="top-bar">
      <div class="seg">WB Count</div>
      <div class="chip-group">
        <div class="chip">WAYBILLS: {{ totals.waybills }}</div>
        <div class="chip">PKGS: {{ totals.packages }}</div>
        <div class="chip">WT (T):{{ totals.weight | number:'1.3-3' }}</div>
      </div>
      <div class="route-name">
        <ion-icon name="location-sharp" size="medium" class="location-icon"></ion-icon>
        <div class="rteCd">{{ rteCd }}</div>
      </div>
    </div>


    <div class="age-card-wrapper pointer-green" aria-label="Open age details less than 24 hours"
      (click)="openAgeDetails('<24')" (keydown.enter)="openAgeDetails('<24')" (keydown.space)="openAgeDetails('<24')">

      <ion-card class="age-card">
        <!-- Side Label -->
        <div class="side-label green-bg">
          < 24 Hours </div>

            <!-- Content -->
            <div class="age-content">
              <div class="count">
                <label class="waybill-count" for="">Waybill Count</label>
                <h1>{{ less24.waybills | number: '2.0' }}</h1>
              </div>

              <div class="stat">
                <label class="stat-label" for="">Packages</label>
                <p>{{ less24.packages }}</p>
              </div>

              <div class="stat">
                <label class="stat-label" for="">Weight (T)</label>
                <p>{{ less24.weight | number:'1.3-3' }}</p>
              </div>
            </div>
      </ion-card>
    </div>

    <div class="age-card-wrapper pointer-yellow" aria-label="Open age details greater than or equal to 24 hours"
      (click)="openAgeDetails('>=24')" (keydown.enter)="openAgeDetails('>=24')"
      (keydown.space)="openAgeDetails('>=24')">

      <ion-card class="age-card">
        <!-- Side Label -->
        <div class="side-label yellow-bg">
          > 24 Hours
        </div>

        <!-- Content -->
        <div class="age-content">
          <div class="count">
            <label class="waybill-count" for="">Waybill Count</label>
            <h1>{{ above24.waybills | number: '2.0' }}</h1>
          </div>

          <div class="stat">
            <label class="stat-label" for="">Packages</label>
            <p>{{ above24.packages }}</p>
          </div>

          <div class="stat">
            <label class="stat-label" for="">Weight (T)</label>
            <p>{{ above24.weight | number:'1.3-3' }}</p>
          </div>
        </div>
      </ion-card>
    </div>
  </div>

</ion-content>

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>