.status-bar-row {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.status-pill {
  background: #656565;
  color: #fff;
  font-size: 0.643em;
  border-radius: 7px;
  display: flex;
  padding: 0.9em;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 500;
  width: 75%;
}

.undelivered-labels {
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.trip-report-card {
  background: #fff;
  border-radius: 0.7em;
  padding: 0.4em;
  width: 100%;
}

::ng-deep .arrow-down {
  margin-left: 0.7em;
}

.today-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 29%;

  .today-btn {
    background: #11c15b;
    color: #fff;
    border: none;
    border-radius: 0.7em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.858em;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
    margin: 0;

    &:hover {
      background: #16a34a;
    }
  }
}

.header-row {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .header-left {
    width: 50%;
    border-right: 1px solid #cdcdcd;
    padding-right: 0.8em;
  }

  .header-right {
    width: 49%;
  }

  .header-left,
  .header-right {
    display: flex;
    align-items: center;
    padding-left: 0.2em;
    gap: 6px;
    flex-direction: column;

    .absent-name,
    .trip-name {
      display: flex;
      align-items: center;
      gap: 0.4em;
    }

    .trip-status-header,
    .absent-vehicle-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      gap: 0.3em;
      padding: 0 0.2em;
    }

    .trip-status-data,
    .absent-vehicle-data {
      width: 100%;
    }

    img {
      width: 1.6em;
      height: 1.6em;
      object-fit: contain;
    }

    .title {
      font-size: 0.85em;
      font-weight: 700;
      color: #2c3a3b;
    }

    .count,
    .big-count {
      font-weight: 800;
      font-size: 18px;
      margin-left: 6px;
      line-height: 1;
      display: block;
    }

    .green {
      color: #11c15b !important;
    }

    .red {
      color: #b00021 !important;
    }
  }
}

.tables-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

::ng-deep .no-data {
  color: #8b8b8b !important;
  text-align: center !important;
}

.trip-table,
.absent-table {
  width: 100%;
  font-weight: 500;

  thead th {
    color: #2c3a3b;
    text-align: start;
    font-size: 0.62em;
    vertical-align: text-top;
  }

  tbody td {
    text-align: start;
    vertical-align: middle;
    font-size: 0.8em;
  }

  .veh-no {
    font-weight: 700;
    color: #2c3a3b;
  }

  .green {
    color: #11c15b !important;
  }

  .red {
    color: #b00021 !important;
    cursor: pointer;
  }

  .amber {
    color: #ff9300 !important;
  }
}

.toggle-arrow-row {
  display: flex;
  justify-content: flex-end;
}

.arrow-btn {
  display: flex;
  align-items: end;
  justify-content: end;
  cursor: pointer;
  padding: 4px;
  background: transparent;
  border: none;
  outline: none;

  img {
    width: 1em;
    height: 1em;
    object-fit: contain;
    transition: transform 0.2s;
    display: block;
  }

  &:hover img {
    filter: brightness(0.85);
    transform: scale(1.07);
  }
}

.table-row {
  display: flex;
  justify-content: space-between;
}

.checkmarkIcon {
  color: #11c15b;
}

.locationIcon {
  color: #d8d8d8;
}

.sh-ex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emptyDiv {
  width: 1em;
}

.mf-popover {
  --background: transparent;
  --box-shadow: none;
}

.mf-box {
  background: #fff4d2;
  border: 2px solid #ffb400;
  border-radius: 8px;
  padding: 6px 14px;
  display: flex;
  align-items: center;
  font-size: 14px;
  white-space: nowrap;
}

.mf-label {
  color: #1f1f1f;
  margin-right: 6px;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.mf-number {
  color: #1f1f1f;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.veh-no.clickable {
  cursor: pointer;
}
