<div class="container">
  <div class="status-bar-row">
    <div class="status-pill">
      OFD: {{ totalDelAndUnDel?.totalOfd }} | DLVD:
      {{ totalDelAndUnDel?.totalDelivered }} / PKG:
      {{ totalDelAndUnDel?.totalPackages }} / WT(T):
      {{ totalDelAndUnDel?.totalWeight }}
      <span class="undelivered-labels"
        >UN-DLVD: {{ totalDelAndUnDel?.totalUndelivered }}</span
      >
    </div>

    <div class="today-btn-container">
      <ion-button
        fill="clear"
        class="today-btn"
        (click)="toggleCalendar($event)"
      >
        <div class="dateBtn">{{ selectedDateLabel }}</div>
        <img src="assets/icon/fit.png" alt="arrow-down" class="arrow-down" />
      </ion-button>
    </div>
    @if (showCalendar) {
      <div class="calendar-popup" (click)="$event.stopPropagation()">
        @if (calendarKey) {
          <mat-calendar
            [selected]="selectedDate"
            [startAt]="selectedDate"
            [minDate]="minDate"
            [maxDate]="maxDate"
            (selectedChange)="onDateChange($event)"
          >
          </mat-calendar>
        }
      </div>
    }
  </div>

  <div class="trip-report-card">
    <div class="header-row">
      <div class="header-left">
        <div class="trip-status-header">
          <div class="trip-name">
            <img src="assets/icon/trip.png" alt="trip" />
            <span class="title">Trip Status</span>
          </div>
          <span class="big-count green">{{ tripStatusRows().length }}</span>
        </div>
        <div class="trip-status-data">
          <div class="table-left">
            @if (visibleTripStatusRows.length > 0) {
              <table class="trip-data-table">
                <thead>
                  <tr>
                    <th>VEH No.</th>
                    <th class="mf-uld-header">OFD Status</th>
                    <th>Last Updated</th>
                  </tr>
                </thead>

                <tbody>
                  @for (ts of visibleTripStatusRows; track $index) {
                    <tr>
                      <td
                        class="veh-no manifest-link"
                        (click)="
                          showPopoverManifest($event, ts.manifestNumbers)
                        "
                      >
                        {{ ts.vehicle ? ts.vehcleNoShort : "-" }}
                        @if (ts.multipleTripStatus) {
                          <span class="checkmarkIcon">*</span>
                        }
                      </td>

                      <td>
                        <span class="green">
                          {{ ts.manifestedWB ?? "-" }}
                        </span>
                        /
                        <span
                          [ngClass]="
                            isMatch(ts.manifestedWB, ts.unloadedWB)
                              ? 'green'
                              : 'red'
                          "
                        >
                          {{ ts.unloadedWB ?? "-" }}
                        </span>
                      </td>
                      <td class="sh-ex">
                        <div>
                          {{ ts.lastUpdated }}
                        </div>
                        @if (
                          isMatch(ts.manifestedWB, ts.unloadedWB) ? true : false
                        ) {
                          <ion-icon
                            name="checkmark-circle"
                            class="checkmarkIcon"
                          ></ion-icon>
                        } @else {
                          <div class="emptyDiv"></div>
                        }
                        <div class="location-wrapper">
                          <ion-icon
                            name="location-sharp"
                            class="locationIcon"
                            [class.active]="ts.lat && ts.long"
                            [class.disabled]="!ts.lat && !ts.long"
                            (click)="
                              toggleLocation(ts); $event.stopPropagation()
                            "
                          >
                          </ion-icon>

                          @if (ts.showLocation) {
                            <div class=" location-float with-arrow">
                              <span class="label">Location :</span>
                              <span class="value">
                                {{ ts.address }}
                              </span>
                            </div>
                          }
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            } @else {
              <table class="trip-table">
                <thead>
                  <tr>
                    <th>VEH No.</th>
                    <th class="mf-uld-header">OFD Status</th>
                    <th>Last Updated</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td colspan="4" class="no-data">No Data Found</td>
                  </tr>
                </tbody>
              </table>
            }
          </div>
        </div>
      </div>

      <div class="header-right">
        <div class="absent-vehicle-header">
          <div class="absent-name">
            <img src="assets/icon/absent.png" alt="absent" />
            <span class="title">Absent</span>
          </div>
          <span class="count red">{{ absentRows.length }}</span>
        </div>
        <div class="absent-vehicle-data">
          <div class="table-right">
            @if (visibleAbsentRows.length > 0) {
              <table class="absent-data-table">
                <thead>
                  <tr class="table-row">
                    <th>VEH No.</th>
                    <th class="last">Last Trip Date</th>
                  </tr>
                </thead>

                <tbody>
                  @for (ab of visibleAbsentRows; track $index) {
                    <tr class="table-row">
                      <td class="veh-no">{{ ab.vehicleNoShort || "-" }}</td>
                      <td class="date lasts">{{ ab.lastPickup }}</td>
                    </tr>
                  }
                </tbody>
              </table>
            } @else {
              <table class="absent-table">
                <thead>
                  <tr class="table-row">
                    <th>VEH No.</th>
                    <th>Last Trip Date</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td colspan="2" class="no-data">No Data Found</td>
                  </tr>
                </tbody>
              </table>
            }
          </div>
        </div>
      </div>
    </div>

    <!-- TOGGLE ROW -->
    <div class="toggle-arrow-row">
      <button
        [disabled]="isDisabled"
        [ngClass]="isDisabled ? 'disableIcon' : 'notDisableIcon'"
        class="arrow-btn"
        (click)="toggleShowAll()"
      >
        @if (!showAll) {
          <img
            src="assets/icon/arrow-back.png"
            alt="arrow-back"
            class="arrow-icon"
          />
        } @else {
          <img
            src="assets/icon/uparrow.png"
            alt="arrow-up"
            class="arrow-up-icon"
          />
        }
      </button>
    </div>
  </div>
</div>
<ion-popover
  [isOpen]="isMfOpen"
  [event]="mfEvent"
  cssClass="mf-popover"
  side="bottom"
  arrow="true"
  (didDismiss)="hidePopoverManifest()"
  [showBackdrop]="false"
>
  <ng-template>
    <div class="mf-box">
      <span class="mf-label">Tripsheet:</span>

      <span class="mf-number">
        {{ selectedManifestNumbers.join(", ") }}
      </span>
    </div>
  </ng-template>
</ion-popover>
