<div class="liquid-footer" #footerRef>

  <!-- SVG LIQUID CURVE -->
  <svg viewBox="0 0 1000 100" preserveAspectRatio="none">
    <path [attr.d]="path"></path>
  </svg>

  <!-- TABS -->
  <div class="tabs">

    @for (tab of tabs; track tab.id; let i = $index) {

      <button class="tab-btn" (click)="go(tab.id, i)">

        <!-- ACTIVE FLOATING ICON -->
        <div class="floating" [class.show]="activeIndex === i">
          <img [src]="tab.activeIcon" />
        </div>

        <!-- INACTIVE ICON + LABEL -->
        <div class="inactive" [class.hide]="activeIndex === i">

          <div class="icon-wrap">

            <img [src]="tab.inactiveIcon" />

            <div class="label">
              {{tab.label}}
            </div>

          </div>

        </div>

      </button>

    }

  </div>

</div>