.footer-toolbar-padding {
  background: transparent !important;
}
ion-content {
  --background: #efefef;
  // --padding-bottom: 90px;
}

/* FOOTER CONTAINER */

.liquid-footer {
    position: fixed;
  bottom: 0;
  width: 100%;
  height: 68.9px;
  padding-bottom: env(safe-area-inset-bottom);

  touch-action: pan-y;


  background: transparent !important;
  z-index: 999;
  box-shadow: none;
  pointer-events: auto;
}
ion-footer {
  --background: transparent !important;
  background: transparent !important;
}

/* SVG CURVE */

svg {

  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  path {
    fill: #ffffff;
    transition: all .45s cubic-bezier(.4,0,.2,1);
  }

}

/* TABS CONTAINER */

.tabs {

  position: relative;
  z-index: 10;

  display: flex;
  height: 64px;

}

/* TAB BUTTON */

.tab-btn {

  flex: 1;
  border: none;
  background: transparent;
  position: relative;
  padding: 0;

}

/* ACTIVE FLOATING ICON */

.floating {

  position: absolute;
  top: -24px;
  left: 50%;

  transform: translateX(-50%) translateY(32px) scale(.5);
  opacity: 0;

  transition: .45s cubic-bezier(.175,.885,.32,1.275);

  background: transparent;

}

.floating.show {

  opacity: 1;

  transform: translateX(-50%) translateY(0) scale(1);

}

.floating img {

  width: 58px;
  height: 58px;
  object-fit: contain;

  background: transparent;
    background: #fff;

  border-radius: 50%;

  display: block;

}

/* INACTIVE STATE */

.inactive {

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: .3s ease;

}

.inactive.hide {

  opacity: 0;

  transform: translateY(-12px) scale(.85);

  pointer-events: none;

}

/* ICON + LABEL */

.icon-wrap {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 3px;

  transform: translateY(6px);

}

.icon-wrap img {

  width: 22px;
  height: auto;

}

/* LABEL */

.label {

  font-size: 11px;
  font-weight: 500;

  color: #28a745;

  line-height: 1;

}