<ion-toolbar>
  <div class="header-container">
  <ion-text class="title">DRAFT WAYBILLS</ion-text>
  <ion-buttons>
    <ion-button fill="clear" class="close-btn" (click)="close()">
      <ion-icon name="close" size="large"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>
</ion-toolbar>
<ion-content class="ion-padding scroll-area">

    @for (item of draftWaybillsData; track item) {

    <div class="sfx-card">

      <div class="first-row">
        <div class="field">
          <div class="label">WB#</div>
          <div class="value">{{ item.waybill }}</div>
        </div>
        <div class="field">
          <div class="label">Pickup</div>
          <div class="value">{{ item.pickupDate | date:'dd-MMM-yyyy' }}</div>
        </div>
      </div>

      <div class="second-row">
        <div class="label">Consignor</div>
        <div class="value">{{ item.consignor }}</div>
      </div>
    </div>

    }

</ion-content>