.draft-waybills-list-container {
  padding: 8px 12px 10px 12px;
  max-height: 95vh;
  overflow-y: auto;
  background-color: #fff;
}

.draft-waybills-card {
  background: aliceblue;
  border-left: 6px solid #f0ad4e;
  box-shadow: 0 1px 7px rgba(60,72,88,0.06);
  padding: 10px 14px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.draft-waybills-card + .draft-waybills-card {
  margin-top: 13px;
}

.draft-waybills-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  flex-wrap: wrap;
}

.dwb-label {
  font-size: 12px;
  color: #444;
  font-weight: 500;
  margin-right: 243px;
}

.dwb-value {
  font-size: 12px;
  color: #222;
  font-weight: 700;
  flex: 1;
}

.dwb-date-label {
  font-size: 12px;
  color: #2C3A3B;
  font-weight: 500;
  margin-right: 6px;
}

.dwb-date-value {
  font-size: 12px;
  color: #2C393A;
  font-weight: 500;
  text-align: right;
  min-width: 110px;
}

.dwb-consignor-row {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.dwb-consignor-label {
  color: #2C3A3B;
  font-weight: 500;
  margin-right: 8px;
  font-size: 12px;
}

.dwb-consignor-value {
  color: #212121;
  font-weight: 500;
  font-size: 12px;
  margin-right: 10px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #222;
    /* border-color: red; */
    border-width: 0.5px;
    left: -126px;
}
