<ion-header>
      <ion-toolbar>
        <ion-title class="title">Draft Waybills Data</ion-title>
        <ion-buttons slot="end">
      <ion-button fill="clear" class="close-btn" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

<ion-content class="ion-padding draft-waybills-list-container">
  @for(item of draftWaybillsData; track item){
      <div class="draft-waybills-card">
      <div class="draft-waybills-row">
      <div class="dwb-label">WB#</div>
      <div class="dwb-date-label">Pickup Date</div>
      <div class="dwb-value">{{ item.waybill }}</div>
      <div class="dwb-date-value">{{ item.pickupDate }}</div>
      </div>
      <div class="dwb-consignor-row">
      <span class="dwb-consignor-label">Consignor<br></span>&nbsp;
      </div>
      <span class="dwb-consignor-value">{{ item.consignor }}</span>
  </div>
}

</ion-content>