.chart-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 35.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;

  .label {
    font-size: 0.65em;
    color: #666;
    font-weight: 600;
  }

  .value {
    font-size: 1.2em;
    font-weight: bold;
    color: #02834A;
    font-weight: 700;
    width: 2.9em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}