<div>
  <!-- Spinner -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <ngx-spinner bdColor="rgba(255,255,255,0.1)" color="#2ca85e" size="large" type="ball-clip-rotate" [fullScreen]="true">
    <p class="loader-text">Loading..</p>
  </ngx-spinner>

  <!-- Inventory Card -->
  <div class="container">
    @if (deliveryVendorId) {
    <app-inventory-card [deliveryVendorId]="deliveryVendorId" (branchChanged)="onDeliveryBranchChange($event)">
    </app-inventory-card>

    } @if (deliveryBranchId && deliveryVendorId) {
    <app-trip-report-delivery [deliveryBranchId]="deliveryBranchId" [deliveryVendorId]="deliveryVendorId">
    </app-trip-report-delivery>
    }

    <!-- SUMMARY CARDS -->
    <ion-grid class="summary-grid">
      <!-- ROW 1 -->
      <ion-row>
        <ion-col class="summary-col">
          <ion-card class="summary-card">
            <div class="card-row">
              <div class="card-icon-wrap">
                <img src="assets/icon/rupee.png" class="waybill-icon" />
              </div>
              <div class="card-info">
                <div class="card-main red">{{ amount | number: '1.0-0' }}</div>
              </div>
            </div>
            <div class="card-label">To Be Collected <small>(As on)</small></div>
          </ion-card>
        </ion-col>
        <ion-col class="summary-col">
          <ion-card class="summary-card">
            <div class="card-row">
              <div class="card-icon-wrap">
                <img src="assets/icon/pod.png" class="usage-icon" />
              </div>
              <div class="card-info">
                <div class="card-main green">{{ pending }}</div>
              </div>
            </div>
            <div class="card-label">Pending POD's <small>(As on)</small></div>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- ROW 2 -->
      <ion-row>
        <ion-col class="summary-col">
          <ion-card class="summary-card">
            <div class="card-row">
              <div class="card-icon-wrap">
                <img src="assets/icon/usage.png" class="rupee-icon" />
              </div>
              <div class="card-info">
                <div class="card-main red">
                  {{ usage | number: '1.0-0' }}.<span class="decimal">00</span>
                </div>
              </div>
            </div>
            <div class="card-label">
              Market Vehicle Usage<small>(Today)</small>
            </div>
          </ion-card>
        </ion-col>

        <ion-col class="summary-col">
          <ion-card class="summary-card">
            <div class="card-row">
              <div class="card-icon-wrap green">
                <img src="assets/icon/safe.png" class="weight-icon" />
              </div>
              <div class="card-info">
                <div class="card-main green">
                  {{ safe }}<span class="percent">%</span>
                </div>
              </div>
            </div>
            <div class="card-label">Safedrop Usage <small>(Today)</small></div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- MONTH SNAPSHOT -->
    <div class="snapshot-header">
      <span class="snapshot-title">Month Wise Snapshot</span>
      <ion-button fill="clear" class="today-btn" (click)="toggleMonthPopover($event)">
        {{ selectedMonth }}
        <img src="assets/icon/fit.png" alt="arrow-down" class="arrow-down" />
      </ion-button>
    </div>

    <ion-card class="snapshot-card">
      <div class="snapshot-header">
        <span class="snapshot-title">Waybill Edited</span>
      </div>

      <div class="snapshot-content">
        <div class="donut-section">
          <div class="donut-chart-wrapper">
            <app-pie-chart [data]="panelFourPieData" [totalWaybill]="totalWaybill"
              [totalWaybillAndWeight]="totalWaybillAndWeight" [tab]="'delivery'" class="piechart"></app-pie-chart>
          </div>
        </div>

        <div class="divider-line"></div>

        <div class="snapshot-bars2">
          <app-progress-slider [delivery]="panelFourBars"></app-progress-slider>
        </div>
      </div>


      <ion-popover [isOpen]="popoverOpen" [event]="popoverEvent" (didDismiss)="popoverOpen = false">
        <ng-template>
          <ion-list>
            @for(m of validMonths; track m) {
            <ion-item button (click)="selectMonth(m)"> {{ m }} </ion-item>
            }
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-card>

    <div>
      <app-progress-slider [value]="progressValue" [face]="progressFace" [gradient]="GRADIENT"></app-progress-slider>
    </div>
  </div>
</div>