.modal-header {
  position: sticky;
  top: 0;
  z-index: 10;
  --background: transparent;
  --border-width: 0 0 1px 0;
  --border-color: #e5e5e5;
}

.vehicle-title {
  font-size: 16px;
  font-weight: 700;
  color: #222;
  border-color: red;
  border-width: 0.5px;
  left: -126px;
}

.close-btn {
  color: #26AD60;
  font-size: 22px;
}

.zero-pickup-list-container {
  --padding-top: 14px;
  --padding-start: 0;
  --padding-end: 0;
  background: transparent;
}

.pickup-card {
  background: #fff;
  border-left: 6px solid #b30000;
  box-shadow: 0 2px 8px rgba(60, 72, 88, 0.08);
  margin: 10px 16px;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
}

.pickup-top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4px;
}

.pickup-label {
  font-size: 12px;
  color: #2C3A3B;
  font-weight: 500;
}

.pickup-value {
  font-size: 12px;
  color: #2C3A3B;
  font-weight: 500;
  margin-top: 2px;
}

.pickup-date {
  text-align: right;
}

.pickup-date-label {
  font-size: 12px;
  color: #2C3A3B;
  font-weight: 500;
}

.pickup-date-value {
  font-size: 12px;
  font-weight: 500;
  color: #2C3A3B;
}

.pickup-consignor-row {
  display: flex;
  gap: 8px;
  margin-top: 5px;
}

.pickup-consignor-label {
  font-size: 12px;
  color: #2C3A3B;
  font-weight: 500;
  flex-shrink: 0;
}

.pickup-consignor-value {
  font-size: 14px;
  color:#2C3A3B ;
  font-weight: 500;
  line-height: 1.3;
}

.drag-handle {
  width: 40px;
  height: 4px;
  background: #ccc;
  border-radius: 2px;
  margin: 8px auto;
}
