.figma-pill {
  display: flex;
  background: #f3f3f3;
  border-radius: 999px;
  width: 60%;
  max-width: 340px;
  border: 1px solid #C3C3C3;
}

/* Each segment */
.pill-btn {
  flex: 1;
  height: 30px;
  border-radius: 999px;
  border: none;
  background: transparent;
  color: #C3C3C3;
  font-weight: 600;
  font-size: 11px;
  position: relative;
  z-index: 1;
}

.figma-pill.booking .delivery {
  margin-left: -22px;
  margin-right: -22px;
  z-index: 1; 
}

.figma-pill.booking .booking,
.figma-pill.delivery .delivery,
.figma-pill.network .network {
  background: #ffffff;
  border: 2px solid #27ae60;
  color: #27ae60;
  z-index: 5;
}
.pill-btn.active {
  background: #ffffff;
  border: 2px solid #27ae60;
  color: #27ae60;
  z-index: 5;
}

.figma-pill.booking .delivery {
  margin-left: -22px;
  margin-right: -22px;
  // border: 1px solid;
}

.figma-pill.network .delivery {
  border: 1px solid;
  margin-left: -22px;
  margin-right: -22px;
}
ion-toolbar{
 --background: #efefef !important;

}
.bell-container {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
}

.bell-badge {
  position: absolute;
  right: -6px;
  top: -8px;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 10px;
  background: #41b883;
  color: #fff;
}.hidden {
  display: none !important;
}