<ion-header>
<ion-toolbar class="figma-toolbar">
<div class="figma-pill" [ngClass]="segment">
  <button class="pill-btn booking" [class.active]="segment==='booking'" (click)="segment='booking'">
    BOOKING
  </button>
  <button class="pill-btn delivery" [class.active]="segment==='delivery'" (click)="segment='delivery'">
    DELIVERY
  </button>
 </div>
<ion-button fill="clear" slot="end" class="bell-container">
      <img
        src="assets/icon/notifications-outline.png"
        alt="notifications"
        class="notifications-outline-icon"
      />

      <ion-badge
        *ngIf="notificationsCount > 0"
        color="danger"
        class="bell-badge"
      >
        {{ notificationsCount }}
      </ion-badge>
    </ion-button>

</ion-toolbar>

</ion-header>
<ion-content>
<div [class.hidden]="segment !== 'booking'">
  <app-booking
    [vendorId]="bookingVendorID"
    [active]="segment === 'booking'">
  </app-booking>
</div>

<div [class.hidden]="segment !== 'delivery'">
  <app-delivery
    [vendorId]="deliveryVendorID"
    [active]="segment === 'delivery'">
  </app-delivery>
</div>

</ion-content>

