
.header {
  padding: 0 1em 1em 1em;
  box-shadow: none;
}

.header-row {
  display: flex;
  border-bottom: 1px solid #bebcbc;
}

ion-header {
  --margin: 0;
}

ion-toolbar {
  --background: #efefef;
}

.toolbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.segment-wrapper {
  display: inline-flex;
  align-items: center;
  height: 28px;
  padding: 0px;
  background: #efefef;
  border: 1px solid #d6d6d6;
  border-radius: 999px;
  left: 0em;
  position: relative;
}

.segment-btn {
  height: 28px;
  padding: 0 24px;
  border-radius: 999px;
  background: transparent;
  color: #5e625f;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease;

}

.segment-btn + .segment-btn {
  margin-left: -4px;
}

.segment-btn.active {
  background: #ffffff;
  border: 1px solid #27ae60;
  color: #27ae60;
   box-shadow:
    0 2px 6px rgba(0,0,0,0.12),
    0 1px 2px rgba(0,0,0,0.08);
}

.bell-container {
  position: relative;

  width: 38px;
  height: 38px;
  min-width: 38px;
  min-height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  background: #ffffff;     
  border-radius: 50%;     
  cursor: pointer;
}


.notifications-outline-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.bell-badge {
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 10px;
  background: #41b883;
  color: #fff;
  font-weight: 400;
  font-size: 8px;
}
.white-bell {
  --background: #ffffff;
  --color: #000000;
  --border-radius: 50% !important;
}
ion-toolbar.figma-toolbar {
  --background: #efefef;
}

.hidden {
  display: none !important;
}
.app-footer {
  --background: transparent;
  background: transparent;

  padding-bottom: env(safe-area-inset-bottom);
}