 <ion-header>
      <ion-toolbar>
        <ion-title>Terms & Conditions</ion-title>
        <ion-button slot="end" fill="clear" (click)="close()">Close</ion-button>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <h3>Safexpress Terms of Use</h3>

      <p>
        By accessing or using this application, you agree to be bound by the following terms.
      </p>

      <p>
        1. You must use a valid mobile number.<br>
        2. OTP based authentication is mandatory.<br>
        3. You are responsible for all activity on your account.<br>
        4. We reserve the right to suspend access if misuse is detected.<br>
        5. Data is stored securely and used only for business purposes.
      </p>

      <p>
        Safexpress reserves the right to change these terms at any time.
      </p>
    </ion-content>
