.notman-list {
  padding-top: 18px;
 }
 .notman-card {
   background: #fff;
   border-left: 6px solid #B00021;
   margin-bottom: 15px;
   box-shadow: 0 1px 7px rgba(60,72,88,0.05);
   padding: 12px 16px 10px 16px;
   display: flex;
   flex-direction: column;
 }

 .notman-row {
   display: flex;
   align-items: center;
   margin-bottom: 6px;
   gap: 12px;

   &:last-child {
     margin-bottom: 0;
   }
 }
 .wb-label {
   font-size: 12px;
   color: #2C3A3B;
   font-weight: 500;
 }
 .wb-value {
   font-size: 12px;
   color: #2C3A3B;
   font-weight: 500;
   margin-left: -12px;
   white-space: nowrap;
 }
 .pkg-label {
   margin-left: 41px;
   font-size: 12px;
   color: #2C3A3B;
   font-weight: 500;
 }
 .pkg-numbers {
   margin-left: 11px;
   font-size: 12px;
   font-weight: 500;
   span.green { color: #1cb14f; }
   span.amber { color: #f0ad4e; }
   span.red { color: #d9534f; }
 }
 .consignor-row {
   margin-top: 8px;
  .consignor-label {
     font-size: 12px;
     color: #2C3A3B;
     font-weight: 600;
     margin-right: 7px;
   }
   .consignor-value {
     font-size: 12px;
     color: #2C3A3B;
     font-weight: 500;
   }
 }
 .title{
      font-size: 16px;
  font-weight: 700;
  color: #222;
  border-color: red;
  border-width: 0.5px;
  left: -126px;
 }

 .date {
  margin-left: 6rem;
  white-space: nowrap;
 }
 .colors{
  margin-left: 10px;
 }